table {
  width: 100%;
}

.outline {
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

tr.mat-footer-row {
  font-weight: bold;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}
