<mat-card class="mat-elevation-z1">
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h3>Spieler erstellen</h3>
      <mat-error *ngIf="!formValid">
        Bitte alle Daten eingeben.
      </mat-error>
      <mat-form-field>
        <input [(ngModel)]="playerCreateDto.firstName" matInput name="firstName" placeholder="Vorname" required>
        <mat-error>
          Bitte einen Vornamen angeben.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="playerCreateDto.lastName" matInput name="lastName" placeholder="Nachname" required>
        <mat-error>
          Bitte einen Nachnamen angeben.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="playerCreateDto.nickName" matInput name="nickName" placeholder="Spitzname" required>
        <mat-error>
          Bitte einen Spitznamen angeben.
        </mat-error>
      </mat-form-field>

      <button [disabled]="!loginForm.form.valid" color="primary" mat-raised-button>Erstellen</button>
    </form>
  </mat-card-content>
</mat-card>
